/* panel style */
.panel-body {
    padding: 15px;
    color: black;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.panel-default {
    border-color: #ddd;padding-left: 10px;
    padding-right: 10px;padding-bottom: 10px;
}

/* panel style */
label{
    color: black;
}
.topalign{
    /* margin-top: 10px;
    padding-top: 10px; */
}
.panel-info {
    border-color: #bce8f1;
}

.panel-info>.panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.panel-group .panel-heading {
    border-bottom: 0;
}
.zipfile-center{
    position: absolute;
    top: 30%;
    left: 40%;
    font-size: 100px;
}