body {
  color: #000;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



/* BASIC */

/* html {
  background-color: #56baed;
} */

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}

.marginspace {
  margin: 15px 0px 15px 0px;
}

.text-ali-left {
  text-align: left;
}

.main_container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background: #2A3F54 !important;
}


/*Image View*/

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal_image {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content_image {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content_image, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content_image {
    width: 100%;
  }
}

/*Image View*/

/*buttonload loader*/

.buttonload {
  background-color: #4CAF50;
  /* Green background */
  border: none;
  /* Remove borders */
  color: white;
  /* White text */
  padding: 12px 24px;
  /* Some padding */
  font-size: 16px;
  /* Set a font-size */
}

/*buttonload loader*/

/*Preloader*/

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*Preloader*/

.left_col {
  background-color: #6BC8AE !important;
}

/* .nav_title{
    background-color:#6BC8AE !important;
} */
.sidebar-footer {
  background: #6BC8AE !important;
}

.profile_info span {
  color: #FFFFFF !important;
  font-size: 16px !important;
}

.nav.side-menu>li>a {
  color: #FFFFFF !important;
  font-size: 16px;
  text-align: start;

}

.menu_section h3 {
  color: #FFFFFF !important;
  text-shadow: none !important;
  font-size: 20px !important;
}

.profile_info h2 {
  font-size: 16px !important;
  color: #fff900 !important;
}

.nav_title {
  height: 90px !important;
}

.bg-color-chg {
  background: #ffffff !important;
}

.main_container {
  background-color: #6BC8AE !important;
  height: 100vh;
  overflow: auto;
}

.icon-color {
  color: #0c0c0a !important;
}

.fa-lg {
  background-color: #6BC8AE !important;
  font-weight: 900;
  color: #ffffff !important;
}

.main_menu_side {
  height: calc(100vh - 180px);
  overflow: auto;
}

.nav-sm .main_menu_side {
  height: calc(100vh - 90px);
}

.top_nav .nav_menu {
  margin-bottom: 0px;
}

.right_col {
  /* height: calc(100vh - 90px);
  overflow: auto; */
}

.profile_info h2 {
  display: block;
}

.analytics-page .card-header {
  background: #6bc8ae;
  color: #fff;
  font-weight: bold;
}

.create-module {
  background: #fff;
  padding: 10px;
}

.app-content {
  text-align: left;
}

.app-content .header {
  /* display: flex; */
}

.app-content .header .content {
  flex: 1;
  display: flex;
  /* flex-direction: column; */
  background-color: #ddd;
  height: calc(100vh - 100px);
}

.app-content .left-header {
  width: 300px;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  background: #DD3B96;
  border-right: 1px solid #fff;
}

.app-content .top-header .logo {
  width: 300px;
  height: 100px;
  text-align: center;
  border-right: 1px solid #DD3B96;
  background-color: #FFF;
}

.app-content .top-header .logo img {
  height: 100%;
}

.app-content .left-header .menu-content {
  /* background-color: #070d32; */
}

.app-content .left-header .menu {
  list-style: none;
  margin: 0;
  padding: 0px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}

.app-content .left-header .menu .sub-menu {
  list-style: none;
}

.app-content .left-header .menu li {
  padding: 10px 5px;
  cursor: pointer;
}

.app-content .left-header .menu .link-icon {
  width: 40px;
  text-align: center;
  display: inline-block;
}

.app-content .left-header .menu .count {
  background: #f44336;
  padding: 0 5px;
  border-radius: 10px;
  width: 35px;
  display: inline-block;
  text-align: center;
}

.app-content .left-header .menu .add, .app-content .left-header .menu .arrow {
  width: 30px;
  text-align: center;
  display: inline-block;
}

.app-content .top-header {
  height: 100px;
  background: #DD3B96;
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;
}

.app-content .top-header .menu-toggle {
  text-align: center;
  width: 50px;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  height: 100px;
  line-height: 100px;
}

.app-content .top-header .teqbahn-logo {
  flex: 1;
  height: 60px;
  text-align: right;
}

.app-content .top-header .teqbahn-logo img {
  height: 100%;
  margin-right: 12px;
}

.app-content .main-content {
  padding: 10px;
  height: calc(100vh - 100px);
  overflow-y: auto;
  flex: 1;
}

.theme-bg {
  background-color: #4e3dc0;
  color: #fff;
}

.btn.theme-bg:hover {
  color: #fff;
}

.modal-header .modal-close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
  background-color: transparent;
  border: 0;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-shadow: 0 1px 0 #fff;
}

.app-content .left-header .menu a {
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  width: 100%;
}

.app-content .main-content .chat-window {
  height: calc(100vh - 120px);
  background: #fff;
}

.app-content .main-content .chat-window .chat-header {
  background-color: #4a32d4;
  height: 48px;
  line-height: 48px;
  color: #fff;
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
}

.app-content .main-content .chat-window .chat-header .chat-header-title {
  flex: 1;
}

.app-content .main-content .chat-window .chat-body {
  height: calc(100% - 96px);
  display: flex;
}

.app-content .main-content .chat-window .chat-body .chat-body-message {
  flex: 1;
  padding: 10px;
  height: 100%;
  overflow: auto;
}

.app-content .main-content .chat-window .chat-body .chat-body-info {
  width: 300px;
  height: 100%;
  overflow: auto;
  background: #fff;
  border-left: 1px solid #ddd;
}

.app-content .main-content .chat-window .chat-body .chat-body-info .chat-body-info-header {
  height: 48px;
  background: #3b79f6;
  line-height: 48px;
  font-size: 16px;
  padding: 0 10px;
  color: #fff;
  font-weight: bold;
}

.app-content .main-content .chat-window .chat-footer {
  height: 48px;
  border-top: 1px solid #ddd;
  display: flex;
  position: relative;
}

.app-content .main-content .chat-window .chat-footer .chat-smiley {
  position: absolute;
  top: -300px
}

.app-content .main-content .chat-window .chat-footer .chat-footer-text {
  flex: 1;
}

.app-content .main-content .chat-window .chat-footer .chat-footer-text input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 16px;
  padding: 0 10px;
}

.app-content .main-content .chat-window .chat-footer .chat-footer-button {
  width: 48px;
  line-height: 48px;
  text-align: center;
  background: #3b79f6;
}

.app-content .main-content .chat-window .chat-footer .chat-footer-button button {
  color: #FFF;
}

.message-container.sender .message-box {
  background: #eee;
}

.message-container .message-box .info {
  display: flex;
  flex-direction: row-reverse;
}

.message-container.receiver {
  display: flex;
  justify-content: flex-end;
}

.message-container.receiver .message-box {
  background: #FFF;
  border: 1px solid #ddd;
}

.message-container .message-box {
  width: 75%;
  color: #000;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.custom-invalid-feedback {
  color: #f44336;
  font-weight: bold;
}

.chat-body-info-body .member {
  display: flex;
}

.chat-body-info-body .member .icon {
  width: 30px;
  text-align: center;
  padding: 10px 0;
  color: #000;
  font-size: 18px;
}

.chat-body-info-body .member .name {
  flex: 1;
  padding: 10px 0;
  color: #000;
  font-size: 18px;
}

.chat-footer-attachment-btn {
  width: 48px;
  -webkit-appearance: none;
  background: #607d8b;
  min-width: 50px;
  color: white;
  font-size: 1rem;
  padding: 0 15px;
  border: none;
  border-right: 1px solid;
  text-shadow: 1px 1px 0 rgb(0 0 0 / 30%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.file-input-hidden {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  position: absolute;
}

.message-file i {
  display: block;
  text-align: center;
  font-size: 42px;
  margin-bottom: 10px;
}

.message-box.loading {
  background: #2482f675
}

.message-box .message-file a {
  color: #52b99b;
}

.message-partner .message-file a {
  color: #52b99b;
}

.message-file {
  text-align: center;
}

.incoming-call {
  background: #000;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.incoming-call .profile {
  background: #9c27b0;
  font-size: 180px;
  text-align: center;
  color: #FFF;
  flex: 1;
}

.incoming-call .user-info {
  height: 75px;
  color: #fff;
}

.incoming-call .call-answer {
  height: 75px;
  color: #fff;
  display: flex;
}

.incoming-call button.btn.btn-reject {
  flex: 1;
  margin: 10px;
  background: #ff5722;
  color: #fff;
  font-size: 24px;
}

.incoming-call button.btn.btn-answer {
  flex: 1;
  margin: 10px;
  background: #4caf50;
  color: #fff;
  font-size: 24px;
}

.incoming-call .user-info .name {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px;
}

.incoming-call .user-info .message {
  text-align: center;
  font-size: 14px;
}

.tabs {
  display: flex;
  height: 40px;
  line-height: 40px;
  background: #99cbf3;
  color: #fff;
  font-weight: bold;
  border-bottom: 1px solid #fff;
}

.tabs .tab {
  flex: 1;
  padding: 0 5px;
  cursor: pointer;
}

.tabs .tab.active {
  background: #cddc39;
}

.tabs .tab:not(:last-child) {
  border-right: 1px solid #fff;
}

/* The device with borders */
.smartphone {
  position: relative;
  width: 392px;
  height: 760px;
  /* margin: auto; */
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .smartphone-content {
  width: 360px;
  height: 640px;
  background: #fff;
  overflow: auto;
}


/* The device with borders */
.smartphone-builder {
  position: relative;
  width: 392px;
  height: calc(100vh - 120px);
  /* margin: auto; */
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

/* The horizontal line on the top of the device */
.smartphone-builder:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone-builder:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone-builder .smartphone-content {
  width: 360px;
  height: 100%;
  background: #fff;
  overflow: auto;
}

.builder .element {
  padding: 10px 10px;
  background: #eee;
  text-align: center;
}

.layer-builder .layer.hover, .layer-builder .layer.active {
  box-shadow: inset 0px 0px 0px 2px #2196f3;
}

.dynamic-form p {
  margin-bottom: 0;
}

.image-select .active {
  box-shadow: inset 0px 0px 0px 2px #03a9f4;
}

.mobile-responsive {
  width: 768px;
  height: 100vh;
  margin: 0 auto !important;
  float: none !important;
  position: relative;
  border: 1px solid rgba(0, 0, 0, .125);
}


@media only screen and (max-width: 768px) {
  .mobile-responsive {
    width: 100% !important;
  }
}